In [1]:
import pandas as pd
import csv
import matplotlib as plt
import numpy as np
from scipy.stats import linregress

In [2]:
Food_Allergy = pd.read_csv("data/food-allergy-analysis-Zenodo.csv")
Food_Allergy.head()

,SUBJECT_ID,BIRTH_YEAR,GENDER_FACTOR,RACE_FACTOR,ETHNICITY_FACTOR,PAYER_FACTOR,ATOPIC_MARCH_COHORT,AGE_START_YEARS,AGE_END_YEARS,SHELLFISH_ALG_START,...,CASHEW_ALG_END,ATOPIC_DERM_START,ATOPIC_DERM_END,ALLERGIC_RHINITIS_START,ALLERGIC_RHINITIS_END,ASTHMA_START,ASTHMA_END,FIRST_ASTHMARX,LAST_ASTHMARX,NUM_ASTHMARX
0,1,2006,S1 - Female,R1 - Black,E0 - Non-Hispanic,P1 - Medicaid,False,0.093087,3.164956,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1994,S1 - Female,R0 - White,E0 - Non-Hispanic,P0 - Non-Medicaid,False,12.232717,18.880219,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0
2,3,2006,S0 - Male,R0 - White,E1 - Hispanic,P0 - Non-Medicaid,True,0.010951,6.726899,NaN,...,NaN,4.884326,NaN,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0
3,4,2004,S0 - Male,R4 - Unknown,E1 - Hispanic,P0 - Non-Medicaid,False,2.398357,9.111567,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2006,S1 - Female,R1 - Black,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.013689,6.193018,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
total = len(Food_Allergy)
print("Total Subjects", total)

Total Subjects 333200

In [4]:
#figure out how many are male and how many are female
gender_counts = Food_Allergy["GENDER_FACTOR"].value_counts()
total = len(Food_Allergy)
female_percent = (gender_counts["S1 - Female"] / total) * 100
male_percent = (gender_counts["S0 - Male"] / total) * 100

print("Female percentage:", female_percent)
print("Male percentage:", male_percent)

Female percentage: 49.270108043217284
Male percentage: 50.729891956782716

In [5]:
#figure out the range of ages 
age_range = Food_Allergy["AGE_START_YEARS"].describe()[["min", "max"]]
print("Age range:", age_range[1], "-", age_range[0])

Age range: 17.9849418206708 - -4.31211498973306

In [6]:
race_counts = Food_Allergy["RACE_FACTOR"].value_counts()
print(race_counts)

R0 - White                        183308
R1 - Black                         97795
R4 - Unknown                       40940
R2 - Asian or Pacific Islander      9152
R3 - Other                          2005
Name: RACE_FACTOR, dtype: int64

In [7]:
Food_Allergy_Shellfish = Food_Allergy["SHELLFISH_ALG_START"].value_counts()
print(Food_Allergy_Shellfish)

1.538672     6
3.036277     6
2.012320     6
1.018480     5
1.092402     5
            ..
15.268994    1
14.762491    1
18.338125    1
7.887748     1
6.770705     1
Name: SHELLFISH_ALG_START, Length: 3565, dtype: int64

In [8]:
Food_Allergy_Cashew = Food_Allergy["CASHEW_ALG_END"].value_counts()
print(Food_Allergy_Cashew)

2.031485     2
4.054757     2
4.755647     2
0.887064     1
6.516085     1
            ..
2.893908     1
3.997262     1
13.757700    1
1.212868     1
6.480493     1
Name: CASHEW_ALG_END, Length: 118, dtype: int64

In [9]:
count = Food_Allergy["Group"].value_counts()
count

KeyError: 'Group'